In [1]:
import pandas as pd

## Inicío análise exploratória dados roubo celulares e veiculos

In [2]:
# importando dataset para análise exploratória dos dados roubos celulares
dados_expl_r_celulares= pd.read_excel('dados_roubo_celulares_nov_2022_compl.xlsx')

In [3]:
dados_expl_r_celulares.head()

,ANO_BO,NUM_BO,NUMERO_BOLETIM,BO_INICIADO,BO_EMITIDO,DATAOCORRENCIA,HORAOCORRENCIA,PERIDOOCORRENCIA,DATACOMUNICACAO,DATAELABORACAO,...,PLACA_VEICULO,UF_VEICULO,CIDADE_VEICULO,DESCR_COR_VEICULO,DESCR_MARCA_VEICULO,ANO_FABRICACAO,ANO_MODELO,DESCR_TIPO_VEICULO,QUANT_CELULAR,MARCA_CELULAR
0,2022,6873,6873/2022,2022-11-01 00:04:36,2022-11-01 00:04:36,2022-10-31,20:40:00,A NOITE,2022-10-31,2022-11-01 00:04:36,...,EFS8G51,SP,ARARAQUARA,Preta,VW/GOL 1.0 GIV,2009.0,2009.0,AUTOMOVEL,1.0,Motorola
1,2022,5203,5203/2022,2022-11-01 00:08:16,2022-11-01 00:08:16,2022-10-31,20:40:00,A NOITE,2022-10-31,2022-11-01 00:08:16,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,1.0,Motorola
2,2022,5203,5203/2022,2022-11-01 00:08:16,2022-11-01 00:08:16,2022-10-31,20:40:00,A NOITE,2022-10-31,2022-11-01 00:08:16,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,1.0,Samsung
3,2022,9012,9012/2022,2022-11-01 00:09:19,2022-11-01 00:09:19,2022-10-31,22:32:00,A NOITE,2022-10-31,2022-11-01 00:09:19,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,1.0,Samsung
4,2022,9012,9012/2022,2022-11-01 00:09:19,2022-11-01 00:09:19,2022-10-31,22:32:00,A NOITE,2022-10-31,2022-11-01 00:09:19,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,1.0,Samsung

In [4]:
#aqui estamos vendo as 10 cidades onde mais ocorreram eventos 
cidades=dados_expl_r_celulares['CIDADE'].value_counts()
cidades.sort_values(ascending=False).head(10)

S.PAULO                13319
S.ANDRE                  757
S.BERNARDO DO CAMPO      718
GUARULHOS                682
OSASCO                   527
CAMPINAS                 522
DIADEMA                  505
ITAQUAQUECETUBA          383
MAUA                     363
SUZANO                   264
Name: CIDADE, dtype: int64

In [5]:
#Aqui estamos apresentando os dados dos dez bairros mais violentos 
bairros= dados_expl_r_celulares['BAIRRO'].value_counts()
bairros.sort_values(ascending=False).head(10)

CENTRO            503
Centro            420
RAPOSO TAVARES    419
REPUBLICA         354
CAPAO REDONDO     258
BUTANTA           256
JARDIM ANGELA     218
JD SÃO LUIS       178
JARAGUA           178
JABAQUARA         176
Name: BAIRRO, dtype: int64

In [6]:
# Apresentadno os dados das ruas onde ocorreram maiores  furtos
ruas=dados_expl_r_celulares['LOGRADOURO'].value_counts()
ruas.sort_values(ascending=False).head(20)

RUA DEOLICIO ALVES DE SOUZA                 333
Avenida Engenheiro Plínio de Queiróz        144
RUA DOUTOR MOACIR TAVOLARO                   84
RUA JOSÉFINA CUNHA COSTA                     80
RUA GONCALVES DIAS                           72
RODOVIA PRESIDENTE DUTRA (BR 116)            72
Rodovia Anhanguera                           56
Rua Três Arapongas                           52
AVENIDA DO ESTADO                            50
RODOVIA SP 352                               49
RUA PASTORIL DE ALMENARA                     49
AVENIDA PAULISTA                             49
Avenida do Estado                            48
RUA NUN ALVARES                              44
AVENIDA ENGENHEIRO HEITOR ANTONIO EIRAS      43
Estrada do M'Boi Mirim                       42
AVENIDA PROFESSOR ERNESTO DE MORAES LEME     42
PRAÇA DA REPUBLICA                           41
Avenida Jacu-Pêssego                         39
AVENIDA CRUZEIRO DO SUL                      39
Name: LOGRADOURO, dtype: int64

In [7]:
# Aqui estamos filtrando por período de  ocorrência 
periodo_oc=dados_expl_r_celulares.groupby(['PERIDOOCORRENCIA']).size()
periodo_oc.sort_values(ascending=False)

PERIDOOCORRENCIA
A NOITE            10518
A TARDE             5173
PELA MANHÃ          4405
DE MADRUGADA        4273
EM HORA INCERTA       43
dtype: int64

In [8]:
# Aqui estamos descrevendo quais modelos de celulares foram os mais furtados por marca ordenando do maior para o menor
celulares_por_marca=dados_expl_r_celulares.groupby(['MARCA_CELULAR']).size()
celulares_por_marca.sort_values(ascending=False)

MARCA_CELULAR
Samsung       8952
Motorola      5736
Apple         5644
Xiaomi        1934
Outros         882
LG             684
Asus           241
Positivo       119
Nokia           66
Multilaser      42
Alcatel         30
Lenovo          23
Microsoft        8
Siemens          8
Huawei           6
BLU              6
Sony             5
Motorola|        1
HPE              1
ZTE              1
dtype: int64

In [9]:
celulares=dados_expl_r_celulares.groupby(['QUANT_CELULAR']).size()
celulares.sort_values(ascending=False)

QUANT_CELULAR
1.0       23883
2.0         298
3.0         102
4.0          33
6.0          16
8.0          15
5.0           6
13.0          4
15.0          4
9.0           4
300.0         3
10.0          2
7.0           2
17.0          2
176.0         2
69.0          2
80.0          2
82.0          1
110.0         1
101.0         1
58.0          1
11.0          1
26.0          1
20.0          1
14.0          1
1111.0        1
dtype: int64

## Agora vamos carregar e analisar os dados de roubo de veículos

In [10]:
dados_exp_roubo_veiculos_nov_2022=pd.read_excel('dados_roubo_veiculos_novembro_2022_completo.xlsx')

In [11]:
dados_exp_roubo_veiculos_nov_2022.head(3)

,ANO_BO,NUM_BO,NUMERO_BOLETIM,BO_INICIADO,BO_EMITIDO,DATAOCORRENCIA,HORAOCORRENCIA,PERIDOOCORRENCIA,DATACOMUNICACAO,DATAELABORACAO,...,PLACA_VEICULO,UF_VEICULO,CIDADE_VEICULO,DESCR_COR_VEICULO,DESCR_MARCA_VEICULO,ANO_FABRICACAO,ANO_MODELO,DESCR_TIPO_VEICULO,QUANT_CELULAR,MARCA_CELULAR
0,2022,6873,6873/2022,2022-11-01 00:04:00,2022-11-01 00:04:00,2022-10-31,20:40:00,A NOITE,2022-10-31,2022-11-01 00:04:00,...,EFS8G51,SP,ARARAQUARA,Preta,VW/GOL 1.0 GIV,2009.0,2009.0,AUTOMOVEL,NaN,NaN
1,2022,6525,6525/2022,2022-11-01 00:07:00,2022-11-01 00:07:00,2022-10-31,18:57:00,A NOITE,2022-10-31,2022-11-01 00:07:00,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
2,2022,6525,6525/2022,2022-11-01 00:07:00,2022-11-01 00:07:00,2022-10-31,18:57:00,A NOITE,2022-10-31,2022-11-01 00:07:00,...,EAE4702,SP,S.PAULO,Branco,NISSAN/KICKS S DRCT CVT,2019.0,2019.0,AUTOMOVEL,NaN,NaN

In [12]:
#aqui estamos vendo as 10 cidades onde mais ocorreram eventos 
cidades=dados_exp_roubo_veiculos_nov_2022['CIDADE'].value_counts()
cidades.sort_values(ascending=False).head(10)

S.PAULO                5837
S.BERNARDO DO CAMPO     671
S.ANDRE                 570
GUARULHOS               521
OSASCO                  504
CAMPINAS                447
ITAQUAQUECETUBA         316
DIADEMA                 298
MAUA                    250
SUZANO                  232
Name: CIDADE, dtype: int64

In [13]:
bairros= dados_exp_roubo_veiculos_nov_2022['BAIRRO'].value_counts()
bairros.sort_values(ascending=False).head(10)

CENTRO            242
RAPOSO TAVARES    180
JABAQUARA         136
Centro            134
JARDIM ANGELA     133
SAPOPEMBA         131
SAO MATEUS        131
JARDIM COLINA     111
BUTANTA           109
CAPAO REDONDO     109
Name: BAIRRO, dtype: int64

In [14]:
# Apresentadno os dados das ruas onde ocorreram maiores  furtos
ruas=dados_exp_roubo_veiculos_nov_2022['LOGRADOURO'].value_counts()
ruas.sort_values(ascending=False).head(20)

RUA DEOLICIO ALVES DE SOUZA                 111
Rodovia Anhanguera                           79
RUA PIABA                                    75
RODOVIA PRESIDENTE DUTRA (BR 116)            74
Avenida Engenheiro Plínio de Queiróz         72
Rodovia dos Bandeirantes                     54
Rodovia Régis Bittencourt                    52
rua quatro                                   51
Rodovia Dom Pedro I                          50
Estrada Galvão Bueno                         48
Rodovia Anchieta                             43
Avenida das Nações Unidas                    42
RUA JOSÉFINA CUNHA COSTA                     40
Estrada do M'Boi Mirim                       36
RUA SARGENTO RODOVAL CABRAL TRINDADE         35
Estrada Municipal Vereador Luis Carlos A     34
PRAÇA PINHEIRO DA CUNHA                      34
ESTRADA KAZUMI TAKEUCHI                      34
Rodoanel Mário Covas                         34
AVENIDA AGUIA DE HAIA                        32
Name: LOGRADOURO, dtype: int64

In [15]:
# Aqui estamos filtrando por período de  ocorrência 
periodo_oc=dados_exp_roubo_veiculos_nov_2022.groupby(['PERIDOOCORRENCIA']).size()
periodo_oc.sort_values(ascending=False)

PERIDOOCORRENCIA
A NOITE            6029
A TARDE            3051
PELA MANHÃ         2544
DE MADRUGADA       2386
EM HORA INCERTA      41
dtype: int64

In [16]:
# Roubo de veículos por categoria(moto/carro)
categoria=dados_exp_roubo_veiculos_nov_2022.groupby(['DESCR_TIPO_VEICULO']).size()
categoria.sort_values(ascending=False)

DESCR_TIPO_VEICULO
AUTOMOVEL          3844
MOTOCICLO          3303
CAMINHONETE         753
SEMI-REBOQUE        394
CAMIONETA           344
CAMINHÃO            335
CAMINHÃO TRATOR     334
UTILITÁRIO          170
MOTONETA            116
REBOQUE              63
Não Informado        23
MICRO-ONIBUS         15
TRATOR RODAS          6
ONIBUS                4
INEXIST.              3
TRATOR MISTO          2
CICLOMOTO             1
dtype: int64

In [17]:
# Aqui estamos descrevendo quais modelos de veículos foram os mais furtados por marca ordenando do maior para o menor
carros_por_marca=dados_exp_roubo_veiculos_nov_2022.groupby(['DESCR_MARCA_VEICULO']).size()
carros_por_marca.sort_values(ascending=False).head(20)

DESCR_MARCA_VEICULO
HONDA/CG 160 FAN            236
HONDA/CG 160 TITAN          139
YAMAHA/FZ25 FAZER           118
YAMAHA/XTZ250 LANDER        104
YAMAHA/MT03 ABS             102
HONDA/CG 160 START           91
HONDA/XRE 300                89
HONDA/CB 300R                88
HONDA/CB250F TWISTER CBS     85
FIAT/ARGO DRIVE 1.0          72
HONDA/CB 250F TWISTER        67
HONDA/XRE 300 ABS            62
YAMAHA/FAZER YS250           61
CHEVROLET/ONIX 1.0MT LT      60
HONDA/CB600F HORNET          57
HYUNDAI/HB20 1.0M COMFOR     54
CHEVROLET/ONIX 10MT JOYE     54
HONDA/CB250F TWISTER ABS     53
HONDA/CB 500F                53
HONDA/CB 500X                52
dtype: int64

In [18]:
# Aqui estamos vendo quais as cores do veícilos  foram os mais roubados ordenando do maior para o menor
carros_por_cor=dados_exp_roubo_veiculos_nov_2022.groupby(['DESCR_COR_VEICULO']).size()
carros_por_cor.sort_values(ascending=False).head(20)

DESCR_COR_VEICULO
Branco      2519
Preta       2051
Prata       1510
Vermelho    1307
Cinza       1062
Azul         702
Verde        205
Amarelo      143
Laranja       92
Bege          55
Marrom        44
Fantasia      14
Roxa          10
Dourada        7
dtype: int64

In [19]:
# Aqui vamos ver o ano de roubo destes veiculos
carros_por_ano=dados_exp_roubo_veiculos_nov_2022.groupby(['ANO_FABRICACAO']).size()
carros_por_ano.sort_values(ascending=False).head(20)

ANO_FABRICACAO
0.0       4290
2021.0     964
2022.0     944
2019.0     853
2020.0     789
2018.0     673
2013.0     585
2017.0     556
2014.0     521
2012.0     472
2015.0     451
2011.0     445
2010.0     409
2016.0     361
2008.0     273
2009.0     261
2007.0     211
2006.0     157
2004.0      99
2005.0      85
dtype: int64